<section class="tools group">
  <h2 class="heading">Screws</h2>
  <p>Below are the screws available for each tool by Muro North America. Click on a tool below for details.</p>

<div class="selection tool">
  <a href="<%= products_screw_path(:id=>1) %>"><img src="/products/screws/ultra-driver-screws.png" alt="CH7390 - Ultra Driver Screws"></a>
  <%= link_to "CH7390 - Ultra Driver Screws", products_tool_path(:id=>1) %>
</div>

<div class="selection tool">
  <a href="<%= products_screw_path(:id=>2) %>"><img src="/products/screws/easy-driver-screws.png" alt="CH7241 -  Easy Driver Screws"></a>
  <%= link_to "CH7241 -  Easy Driver Screws", products_screw_path(:id=>2)  %>
</div>

<div class="selection tool">
  <a href="<%= products_screw_path(:id=>3) %>"><img src="/products/screws/metal-pro-tool-screws.png" alt="CH7260 - Metal Pro Tool Screws"></a>
  <%= link_to "CH7260 - Metal Pro Screws", products_screw_path(:id=>3) %>
</div>
<div class="selection tool">
  <a href="<%= products_screw_path(:id=>4) %>"><img src="/products/screws/power-driver-screws.png" alt="FLVL41 - Power Driver Screws"></a>
  <%= link_to "FLVL41 - Power Driver Screws", products_screw_path(:id=>4) %>
</div>

<div class="selection tool">
  <a href="<%= products_screw_path(:id=>5) %>"><img src="/products/screws/speed-driver.png" alt="FDVL41 - Speed Driver Screws"></a>
  <%= link_to "FDVL41 - Speed Driver Screws", products_screw_path(:id=>5) %>
</div>

<div class="selection tool">
  <a href="<%= products_screw_path(:id=>6) %>"><img src="/products/screws/heavy-duty-screws.png" alt="HDVL71 - Heavy Duty Driver Screws"></a>
  <%= link_to "HDVL71 - Heavy Duty Driver Screws",  products_screw_path(:id=>6) %>
</div>

<div class="selection tool">
  <a href="<%= products_screw_path(:id=>7) %>"><img src="/products/screws/coil-hex-screws.png" alt="LWVL32 - Coil Hex Auto Feed System Screws"></a>
  <%= link_to "LWVL32 - Coil Auto Feed System Screws", products_screw_path(:id=>7) %>
</div>

<div class="selection tool">
  <a href="<%= products_screw_path(:id=>8) %>"><img src="/products/screws/coil-auto-screws.png" alt="LHVL32 - Coil Auto Feed Screws"></a>
  <%= link_to "LHVL32 - Coil Hex Auto Feed System Screws", products_screw_path(:id=>8) %>
</div>

<div class="selection tool">
  <a href="<%= products_screw_path(:id=>9) %>"><img src="/products/screws/vl62-screws.png" alt="VL62 - Series of Tools Screws"></a>
  <%= link_to "VL62 - Series of Tools Screws", products_screw_path(:id=>9) %>
</div>


</section>
