<%= link_to products_screws_path do %>
  <div class="see_more_button go-back">
    <h3>Back to Screws</h3>
  </div>
<% end %>


<div class="product">
  <h1><%= @tool.product_code %> <%= @tool.name %> - Screws</h1>

  <% @tool.screws.order('id ASC').each do |screw| %>
    <ul class="screw-links">
      <% if @prev_screw == nil || screw.div_id != @prev_screw.div_id  %>
        <a href="#<%= screw.div_id %>"><li><%= screw.name %></li></a>
      <% end %>
    </ul>
    <% @prev_screw = screw %>
  <% end %>


  <% @tool.screws.order('id ASC').each do |screw| %>
    <div class="screw" id="<%= screw.div_id %>">

    <% if @prev_screw == nil || screw.div_id != @prev_screw.div_id %>
      <h2><% if screw.div_id == "exotic" %><span class="bold">COMING SOON - </span><% end %>

      <%= screw.name %></h2>
    <% end %>
      <div class="screw_pics group">
        <img src="<%= screw.picture_url %>" alt="<%= screw.name %>">
        <% if screw.second_picture_url %>
          <img src="<%= screw.second_picture_url %>" alt="<%= screw.name %>">
        <% end %>
      </div>

      <table class="screw-table">
        <%= raw screw.table_html %>
      </table>
    </div>
    <% @prev_screw = screw %>
  <% end %>
</div>
