<h2 class="heading">BROCHURES</h2>
  <p> Below are the product brochures for Muro North America's tools. Click to view each product manual in PDF format.</p>


<div class="selection tool">

  <a class="backdrop" href="/downloads/brochures/CH7390-brochure.pdf"><img src="/products/tools/index/ultra-driver.png" alt="CH7390 - Ultra Driver"><img class="icon" src="/downloads/brochure-icon.png" alt="">
  </a>
  <%= link_to "CH7390 - Ultra Driver", "/downloads/brochures/CH7390-brochure.pdf" %>
</div>

<div class="selection tool">
  <a class="backdrop" href="/downloads/brochures/CH7241-brochure.pdf"><img src="/products/tools/index/easy-driver.png" alt="CH7241 -  Easy Driver"><img class="icon" src="/downloads/brochure-icon.png" alt=""></a>
  <%= link_to "CH7241 -  Easy Driver", "/downloads/brochures/CH241-brochure.pdf" %>
</div>

<div class="selection tool">
  <a class="backdrop" href="/downloads/brochures/CH7260-brochure.pdf"><img src="/products/tools/index/metal-pro-tool.png" alt="CH7260 - Metal Pro Tool"><img class="icon" src="/downloads/brochure-icon.png" alt=""></a>
  <%= link_to "CH7260 - Metal Pro", "/downloads/brochures/CH7260-brochure.pdf" %>
</div>
<div class="selection tool">
  <a class="backdrop" href="/downloads/brochures/FLVL41-brochure.pdf"><img src="/products/tools/index/power-driver.png" alt="FLVL41 - Power Driver"><img class="icon" src="/downloads/brochure-icon.png" alt=""></a>
  <%= link_to "FLVL41 - Power Driver", "/downloads/brochures/FLVL41-brochure.pdf" %>
</div>

<div class="selection tool">
  <a class="backdrop" href="/downloads/brochures/FDVL41-brochure.pdf"><img src="/products/tools/index/speed-driver.png" alt="FDVL41 - Speed Driver"><img class="icon" src="/downloads/brochure-icon.png" alt=""></a>
  <%= link_to "FDVL41 - Speed Driver", "/downloads/brochures/FDVL41-brochure.pdf" %>
</div>

<div class="selection tool">
  <a class="backdrop" href="/downloads/brochures/HDVL71-brochure.pdf"><img src="/products/tools/index/heavy-duty-driver.png" alt="HDVL71 - Heavy Duty Driver"><img class="icon" src="/downloads/brochure-icon.png" alt=""></a>
  <%= link_to "HDVL71 - Heavy Duty Driver",  "/downloads/brochures/HDVL71-brochure.pdf" %>
</div>

<div class="selection tool">
  <a class="backdrop" href="/downloads/brochures/LWVL32-brochure.pdf"><img src="/products/tools/index/lwvl32.png" alt="LWVL32 - Coil Hex Auto Feed System"><img class="icon" src="/downloads/brochure-icon.png" alt=""></a>
  <%= link_to "LWVL32 - Coil Auto Feed System", "/downloads/brochures/LWVL32-brochure.pdf" %>
</div>

<div class="selection tool">
  <a class="backdrop" href="/downloads/brochures/LHVL32-brochure.pdf"><img src="/products/tools/index/lhvl32.png" alt="LHVL32 - Coil Auto Feed"><img class="icon" src="/downloads/brochure-icon.png" alt=""></a>
  <%= link_to "LHVL32 - Coil Hex Auto Feed System", "downloads/brochures/LHVL32-brochure.pdf" %>
</div>

<div class="selection tool">
  <a class="backdrop" href="/downloads/brochures/VL62-brochure.pdf"><img src="/products/tools/index/vl62.png" alt="VL62 - Series of Tools"><img class="icon" src="/downloads/brochure-icon.png" alt=""></a>
  <%= link_to "VL62 - Series of Tools", "/downloads/brochures/VL62-brochure.pdf" %>
</div>
