<h1 class="index heading">APPLICATIONS</h1>
<p class="heading">Check out the main applications below to see the advantages and benefits of using Muro certifified products.</p>

<div class="selection application">
	<a href="/applications/decks_docks_marine_boardwalk"><img src="applications/deck-dock-marine.jpg" alt="Deck, Dock and Marine application"></a>
	<%= link_to "Decks / Docks / Marine / Boardwalk", applications_decks_docks_marine_boardwalk_path %>
</div>

<div class="selection application">
	<a href="/applications/flooring"><img src="applications/flooring.jpg" alt="Flooring Application"></a>
	<%= link_to "Flooring", applications_flooring_path %>
</div>

<div class="selection application">
	<a href="/applications/drywall"><img src="applications/drywall.jpg" alt="Drywall Application"></a>
	<%= link_to "Drywall", applications_drywall_path %>
</div>

<div class="clear selection application">
	<a href="/applications/roofing"><img src="applications/roofing.jpg" alt="Roofing application"></a>
	<%= link_to "Roofing", applications_roofing_path %>
</div>

<div class="selection application">
	<a href="/applications/truck_trailer_bus_rv"><img src="applications/trailer-bus-rv.jpg" alt="Trailer, Bus and RV application"></a>
	<%= link_to "Truck Body / Trailer / Bus / RV", applications_truck_trailer_bus_rv_path %>
</div>

<div class="selection application"><a href="/applications/more_applications"><img src="applications/more-applications.jpg" alt="Trailer, Bus and RV application"></a>
	<%= link_to "More Applications", applications_more_applications_path %>
</div>
