<h2 class="heading">MORE APPLICATIONS</h2>

<img src="/applications/more_applications/banner.jpg" alt="More Muro Signature Product Application" class="more-applications">

<h3 class="catch-phrase">Find the recommended tool for your application below.</h3>

<!-- <a href="#VL62-SH">Go to VL62-SH</a> -->

<p class="scroll-instructions">Scroll left to right to view applications for each tool. Click on each tool to view more information.</p>
 <div id="top-scroll-container">
    <div id="top-scroll"></div>
  </div>


<section id="application" style="clear:both;">
  <table id="fixed-column";>
    <thead>
      <tr>
        <th class="black grey">Tool</th>
      </tr>

      <tr>
        <td class="light-grey bold">Screw Length Range (inches)</td>
      </tr>

      <tr>
        <td class="grey bold">Screw Gauge</td>
      </tr>

      <tr>
        <td class="light-grey bold">RPM</td>
      </tr>
    </thead>

      <tr class="top-border">
        <td class="grey bold">Application</td>
      </tr>

      <tr class="top-border">
        <td class="ligdt-grey bold">Magazine Mount</td>
      </tr>


      <tr class="application application top-border">
        <td class="tool">Subfloor (wood/cement board)</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Deck Construction</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Dock Construction</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Underlayment</td>
      </tr>

       <tr class="application top-border">
        <td class="tool">Fence Building</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Stair Treads</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Wood Framing </td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Attaching Roof Boards</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Slotted Panels - Garage Storage Systems</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Store Fixtures</td>
      </tr>

       <tr class="application top-border">
        <td class="tool">Drywall or Wood to Light Metal Studs</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Drywall or Wood to Wood Studs</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Cement Board (Walls)</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Chipboard</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Sheathing</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Furniture Manufacturing</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Fabrication / Repair Pallets</td>
      </tr>

       <tr class="application top-border">
        <td class="tool">Crating</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Metal Wall Skinning</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Roof Stitching (Metal to Metal)</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Sheet Metal Applications</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Steel to Steel Framing</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Wood to Steel Applications </td>
      </tr>

       <tr class="application top-border">
        <td class="tool">Steel to Wood Applications </td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Metal Roofing</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Siding</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">HVAC</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Trailer Floor Restoration </td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Trailer Floor Fabrication </td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Utility Trailer Fabrication</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Mezzanine Flooring</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Bus Fabrication</td>
      </tr>

       <tr class="application top-border">
        <td class="tool">Recreational Vehicles Fabrication</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Commercial Vehicles</td>
      </tr>
  </table>

  <div id="table-container">
    <table id="scroll">
      <div>
        <tr class="top-header">
          <th id="CH7390" class="CH7390"><%= link_to "CH7390", products_tool_path(:id=>1) %></th>
          <th class="CH7392SF"><%= link_to "CH7392SF", products_tool_path(:id=>1) %></th>
          <th class="CH7390SW"><%= link_to "CH7390SW", products_tool_path(:id=>1) %></th>
          <th class="CH7241DE"><%= link_to "CH7241DE", products_tool_path(:id=>2) %></th>
          <th class="CH7241WU"><%= link_to "CH7241WU", products_tool_path(:id=>2) %></th>
          <th class="CH7219U-VG-W"><%= link_to "CH7219U-VG-W", "#" %></th>
          <th class="CH7216U"><%= link_to "CH7216U", "#" %></th>
          <th class="CH7260"><%= link_to "CH7260", products_tool_path(:id=>3) %></th>
          <th class="CH7263"><%= link_to "CH7263", products_tool_path(:id=>3) %></th>
          <th class="CH7264"><%= link_to "CH7264", products_tool_path(:id=>3) %></th>
          <th class="CH7265"><%= link_to "CH7265", products_tool_path(:id=>3) %></th>
          <th class="VL62-ED"><%= link_to "VL62-ED", products_tool_path(:id=>9) %></th>
          <th id="VL62-SH" class="VL62-SH"><%= link_to "VL62-SH", products_tool_path(:id=>9) %></th>
          <th class="VL62-EF"><%= link_to "VL62-EF", products_tool_path(:id=>9) %></th>
          <th class="VL62-LP"><%= link_to "VL62-LP", products_tool_path(:id=>9) %></th>
          <th class="VL62-SP"><%= link_to "VL62-SP", products_tool_path(:id=>9) %></th>
          <th class="FDVL41"><%= link_to "FDVL41", products_tool_path(:id=>5) %></th>
          <th class="HDVL71"><%= link_to "HDVL71", products_tool_path(:id=>6) %></th>
          <th class="FLVL41"><%= link_to "FLVL41", products_tool_path(:id=>4) %></th>
          <th class="LWVL32"><%= link_to "LWVL32", products_tool_path(:id=>7) %></th>
          <th class="LHVL32"><%= link_to "LHVL32", products_tool_path(:id=>9) %></th>
        </tr>

        <tr class="top-header">
          <td class="CH7390">1-1/2 to 3</td>
          <td class="CH7392SF">1 - 2</td>
          <td class="CH7390SW">1-1/2 to 2</td>
          <td class="CH7241DE">3/4 to 1-5/8</td>
          <td class="CH7241WU">3/4 to 1-5/8</td>
          <td class="CH7219U-VG-W">3/4</td>
          <td class="CH7216U">5/8</td>
          <td class="CH7260">1-1/4 to 1-1/2</td>
          <td class="CH7263">3/4 to 1</td>
          <td class="CH7264">3/4 to 1 </td>
          <td class="CH7265">1-1/4 to 1-1/2</td>
          <td class="VL62-ED">1 to 3</td>
          <td class="VL62-SH">7/8 to 1-3/4</td>
          <td class="VL62-EF">1 to 3</td>
          <td class="VL62-LP">1-5/8 to 2-1/2</td>
          <td class="VL62-SP">3/4 to 1-3/4</td>
          <td class="FDVL41">1 to 3</td>
          <td class="HDVL71">1 to 4</td>
          <td class="FLVL41">1 to 3</td>
          <td class="LWVL32">3/4 to 1-3/4 </td>
          <td class="LHVL32">3/4 to 1-3/5</td>
        </tr>

        <tr class="top-header">
          <td class="CH7390">#6 to #10</td>
          <td class="CH7392SF">#6 to #8</td>
          <td class="CH7390SW">#6 to #8</td>
          <td class="CH7241DE">#6 to #8</td>
          <td class="CH7241WU">#6 to #8</td>
          <td class="CH7219U-VG-W">#8 to #10</td>
          <td class="CH7216U">#8</td>
          <td class="CH7260">#10 to #12</td>
          <td class="CH7263">#10 to #12</td>
          <td class="CH7264">#10 to #12</td>
          <td class="CH7265">#10 to #12</td>
          <td class="VL62-ED">#6 to #10</td>
          <td class="VL62-SH">#6 to #10</td>
          <td class="VL62-EF">#6 to #10</td>
          <td class="VL62-LP">#6 to #10</td>
          <td class="VL62-SP">#6 to #10</td>
          <td class="FDVL41">#6 to #10</td>
          <td class="HDVL71">#12 to #14</td>
          <td class="FLVL41">#12 to #14</td>
          <td class="LWVL32">#6 to #8</td>
          <td class="LHVL32">#8 to #10</td>
        </tr>

        <tr class="top-header">
          <td class="CH7390">2500</td>
          <td class="CH7392SF">4000</td>
          <td class="CH7390SW">2500</td>
          <td class="CH7241DE">4000</td>
          <td class="CH7241WU">2500</td>
          <td class="CH7219U-VG-W">2500</td>
          <td class="CH7216U">2500</td>
          <td class="CH7260">2500</td>
          <td class="CH7263">2500</td>
          <td class="CH7264">2500</td>
          <td class="CH7265">2500</td>
          <td class="VL62-ED">1700</td>
          <td class="VL62-SH">1700</td>
          <td class="VL62-EF">1700</td>
          <td class="VL62-LP">2800</td>
          <td class="VL62-SP">2800</td>
          <td class="FDVL41">2800</td>
          <td class="HDVL71">900 to 2300</td>
          <td class="FLVL41">2400</td>
          <td class="LWVL32">2700 / 4500</td>
          <td class="LHVL32">2700 / 4500</td>
        </tr>

        <tr class="top-border top-header">
          <td class="CH7390">Strip</td>
          <td class="CH7392SF">Strip</td>
          <td class="CH7390SW">Strip</td>
          <td class="CH7241DE">Strip</td>
          <td class="CH7241WU">Strip</td>
          <td class="CH7219U-VG-W">Strip</td>
          <td class="CH7216U">Strip</td>
          <td class="CH7260">Strip</td>
          <td class="CH7263">Strip</td>
          <td class="CH7264">Strip</td>
          <td class="CH7265">Strip</td>
          <td class="VL62-ED">Coil</td>
          <td class="VL62-SH">Coil</td>
          <td class="VL62-EF">Coil</td>
          <td class="VL62-LP">Coil</td>
          <td class="VL62-SP">Coil</td>
          <td class="FDVL41">Coil</td>
          <td class="HDVL71">Coil</td>
          <td class="FLVL41">Coil</td>
          <td class="LWVL32">Coil</td>
          <td class="LHVL32">Coil</td>
        </tr>

        <tr class="top-border top-header">
          <td class="CH7390">n/a</td>
          <td class="CH7392SF">n/a</td>
          <td class="CH7390SW">n/a</td>
          <td class="CH7241DE">n/a</td>
          <td class="CH7241WU">n/a</td>
          <td class="CH7219U-VG-W">n/a</td>
          <td class="CH7216U">n/a</td>
          <td class="CH7260">n/a</td>
          <td class="CH7263">n/a</td>
          <td class="CH7264">n/a</td>
          <td class="CH7265">n/a</td>
          <td class="VL62-ED">bottom/side</td>
          <td class="VL62-SH">side</td>
          <td class="VL62-EF">bottom/side</td>
          <td class="VL62-LP">side</td>
          <td class="VL62-SP">side</td>
          <td class="FDVL41">bottom</td>
          <td class="HDVL71">bottom</td>
          <td class="FLVL41">bottom</td>
          <td class="LWVL32">side</td>
          <td class="LHVL32">side</td>
        </tr>
      </div>

      <div id="tools">
      <!--  Sub Floor (wood/cement boards) -->
        <tr class="tool top-border">
          <td class="CH7390"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390</a></td>
          <td class="CH7392SF"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7392SF</a></td>
          <td class="CH7390SW"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390SW</a></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-ED</a></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-LP</a></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"><a href="<%= products_tool_path(id: 5) %>"><span class="check" alt="Check"></span> FDVL41</a></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- Decks Construction -->
        <tr class="tool top-border">
          <td class="CH7390"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390</a></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-ED</a></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-LP</a></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"><a href="<%= products_tool_path(id: 5) %>"><span class="check" alt="Check"></span> FDVL41</a></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- Docks Construction -->
        <tr class="tool top-border">
          <td class="CH7390"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390</a></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-ED</a></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-LP</a></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"><a href="<%= products_tool_path(id: 5) %>"><span class="check" alt="Check"></span> FDVL41</a></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>

        <!--  Underlayment -->
        <tr class="tool top-border">
          <td class="CH7390"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390</a></td>
          <td class="CH7392SF"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7392SF</a></td>
          <td class="CH7390SW"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390SW</a></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-ED</a></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-LP</a></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"><a href="<%= products_tool_path(id: 5) %>"><span class="check" alt="Check"></span> FDVL41</a></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- Fence Building -->
        <tr class="tool top-border">
          <td class="CH7390"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390</a></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7241DE</a></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-ED</a></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-LP</a></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"><a href="<%= products_tool_path(id: 5) %>"><span class="check" alt="Check"></span> FDVL41</a></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>


        <!-- Stair Treads -->
        <tr class="tool top-border">
          <td class="CH7390"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390</a></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-ED</a></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-LP</a></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"><a href="<%= products_tool_path(id: 5) %>"><span class="check" alt="Check"></span> FDVL41</a></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- Wood Framing -->
        <tr class="tool top-border">
          <td class="CH7390"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390</a></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-ED</a></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-LP</a></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"><a href="<%= products_tool_path(id: 5) %>"><span class="check" alt="Check"></span> FDVL41</a></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- Attaching Roof Boards -->
        <tr class="tool top-border">
          <td class="CH7390"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390</a></td>
          <td class="CH7392SF"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7392SF</a></td>
          <td class="CH7390SW"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390SW</a></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-ED</a></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-LP</a></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"><a href="<%= products_tool_path(id: 5) %>"><span class="check" alt="Check"></span> FDVL41</a></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- Slotted Panels -->
        <tr class="tool top-border">
          <td class="CH7390"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390</a></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390SW</a></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- Store Fixtures -->
        <tr class="tool top-border">
          <td class="CH7390"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390</a></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- Drywall of Wood to Light Metal Studs -->
        <tr class="tool top-border">
          <td class="CH7390"></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7241DE</a></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-LP</a></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"><a href="<%= products_tool_path(id: 7) %>"><span class="check" alt="Check"></span> LWVL32</a></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- Drywall or Wood to Wood Studs -->
        <tr class="tool top-border">
          <td class="CH7390"></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7241DE</a></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-LP</a></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"><a href="<%= products_tool_path(id: 7) %>"><span class="check" alt="Check"></span> LWVL32</a></td>
          <td class="LHVL32"></td>
        </tr>

        <!--  Cement Boards (walls) -->
        <tr class="tool top-border">
          <td class="CH7390"></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7241DE</a></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-LP</a></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"><a href="<%= products_tool_path(id: 7) %>"><span class="check" alt="Check"></span> LWVL32</a></td>
          <td class="LHVL32"></td>
        </tr>

        <!--  Chipboard -->
        <tr class="tool top-border">
          <td class="CH7390"></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7241DE</a></td>
          <td class="CH7241WU"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7241WU</a></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-SP</a></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"><a href="<%= products_tool_path(id: 7) %>"><span class="check" alt="Check"></span> LWVL32</a></td>
          <td class="LHVL32"></td>
        </tr>

        <!--  Sheathing -->
        <tr class="tool top-border">
          <td class="CH7390"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390</a></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7241DE</a></td>
          <td class="CH7241WU"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7241WU</a></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-ED</a></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-LP</a></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"><a href="<%= products_tool_path(id: 5) %>"><span class="check" alt="Check"></span> FDVL41</a></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"><a href="<%= products_tool_path(id: 7) %>"><span class="check" alt="Check"></span> LWVL32</a></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- Furniture Manufacturing -->
        <tr class="tool top-border">
          <td class="CH7390"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390</a></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7241DE</a></td>
          <td class="CH7241WU"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7241WU</a></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-ED</a></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-SP</a></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"><a href="<%= products_tool_path(id: 7) %>"><span class="check" alt="Check"></span> LWVL32</a></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- Fabrication / Repair Pallets -->
        <tr class="tool top-border">
          <td class="CH7390"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390</a></td>
          <td class="CH7392SF"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7392SF</a></td>
          <td class="CH7390SW"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390SW</a></td>
          <td class="CH7241DE"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7241DE</a></td>
          <td class="CH7241WU"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7241WU</a></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"><a href="<%= products_tool_path(id: 7) %>"><span class="check" alt="Check"></span> LWVL32</a></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- Crating -->
        <tr class="tool top-border">
          <td class="CH7390"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390</a></td>
          <td class="CH7392SF"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7392SF</a></td>
          <td class="CH7390SW"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390SW</a></td>
          <td class="CH7241DE"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7241DE</a></td>
          <td class="CH7241WU"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7241WU</a></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-SP</a></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"><a href="<%= products_tool_path(id: 7) %>"><span class="check" alt="Check"></span> LWVL32</a></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- Metal Wall Skinning-->
        <tr class="tool top-border">
          <td class="CH7390"></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7241WU</a></a></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-SH</a></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"><a href="<%= products_tool_path(id: 8) %>"><span class="check" alt="Check"></span> LHVL32</a></td>
        </tr>

        <!-- Roof Stitching (Metal to Metal) -->
        <tr class="tool top-border">
          <td class="CH7390"></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7241WU</a></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"><a href="<%= products_tool_path(id: 3) %>"><span class="check" alt="Check"></span> CH7260</a></td>
          <td class="CH7263"><a href="<%= products_tool_path(id: 3) %>"><span class="check" alt="Check"></span> CH7263</a></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-SP</a></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"><a href="<%= products_tool_path(id: 8) %>"><span class="check" alt="Check"></span> LHVL32</a></td>
        </tr>

        <!-- Sheet Metal Applications -->
        <tr class="tool top-border">
          <td class="CH7390"></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7241WU</a></td>
          <td class="CH7219U-VG-W"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7219U-VG-W</a></td>
          <td class="CH7216U"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7216U</a></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"><a href="<%= products_tool_path(id: 3) %>"><span class="check" alt="Check"></span> CH7264</a></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-SP</a></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- Steel to Steel Framing -->
        <tr class="tool top-border">
          <td class="CH7390"></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7219U-VG-W</a></td>
          <td class="CH7216U"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7216U</a></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"><a href="<%= products_tool_path(id: 3) %>"><span class="check" alt="Check"></span> CH7264</a></td>
          <td class="CH7265"><a href="<%= products_tool_path(id: 3) %>"><span class="check" alt="Check"></span> CH7265</a></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-SH</a></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"><a href="<%= products_tool_path(id: 8) %>"><span class="check" alt="Check"></span> LHVL32</a></td>
        </tr>

        <!-- Wood to Steel Applications -->
        <tr class="tool top-border">
          <td class="CH7390"></td>
          <td class="CH7392SF"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7392SF</a></td>
          <td class="CH7390SW"><a href="<%= products_tool_path(id: 1) %>"><span class="check" alt="Check"></span> CH7390SW</a></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"><a href="<%= products_tool_path(id: 3) %>"><span class="check" alt="Check"></span> CH7260</a></td>
          <td class="CH7263"><a href="<%= products_tool_path(id: 3) %>"><span class="check" alt="Check"></span> CH7263</a></td>
          <td class="CH7264"></td>
          <td class="CH7265"><a href="<%= products_tool_path(id: 3) %>"><span class="check" alt="Check"></span> CH7265</a></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-EF</a></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"><a href="<%= products_tool_path(id: 6) %>"><span class="check" alt="Check"></span> HDVL71</a></td>
          <td class="FLVL41"><a href="<%= products_tool_path(id: 4) %>"><span class="check" alt="Check"></span> FLVL41</a></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- Steel to Wood Applications -->
        <tr class="tool top-border">
          <td class="CH7390"></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"><a href="<%= products_tool_path(id: 3) %>"><span class="check" alt="Check"></span> CH7260</a></td>
          <td class="CH7263"><a href="<%= products_tool_path(id: 3) %>"><span class="check" alt="Check"></span> CH7263</a></td>
          <td class="CH7264"></td>
          <td class="CH7265"><a href="<%= products_tool_path(id: 3) %>"><span class="check" alt="Check"></span> CH7265</a></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-EF</a></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"><a href="<%= products_tool_path(id: 6) %>"><span class="check" alt="Check"></span> HDVL71</a></td>
          <td class="FLVL41"><a href="<%= products_tool_path(id: 4) %>"><span class="check" alt="Check"></span> FLVL41</a></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- Metal Roofing -->
        <tr class="tool top-border">
          <td class="CH7390"></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"><a href="<%= products_tool_path(id: 3) %>"><span class="check" alt="Check"></span> CH7264</a></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-SH</a></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- Siding -->
        <tr class="tool top-border">
          <td class="CH7390"></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7241WU</a></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"><a href="<%= products_tool_path(id: 3) %>"><span class="check" alt="Check"></span> CH7260</a></td>
          <td class="CH7263"><a href="<%= products_tool_path(id: 3) %>"><span class="check" alt="Check"></span> CH7263</a></td>
          <td class="CH7264"></td>
          <td class="CH7265"><a href="<%= products_tool_path(id: 3) %>"><span class="check" alt="Check"></span> CH7265</a></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- HVAC -->
        <tr class="tool top-border">
          <td class="CH7390"></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7219U-VG-W</a></td>
          <td class="CH7216U"><a href="<%= products_tool_path(id: 2) %>"><span class="check" alt="Check"></span> CH7216U</a></td>
          <td class="CH7260"><a href="<%= products_tool_path(id: 3) %>"><span class="check" alt="Check"></span> CH7260</a></td>
          <td class="CH7263"><a href="<%= products_tool_path(id: 3) %>"><span class="check" alt="Check"></span> CH7263</a></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"></td>
          <td class="FLVL41"></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- Trailer Floor Restoration -->
        <tr class="tool top-border">
          <td class="CH7390"></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-EF</a></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"><a href="<%= products_tool_path(id: 6) %>"><span class="check" alt="Check"></span> HDVL71</a></td>
          <td class="FLVL41"><a href="<%= products_tool_path(id: 4) %>"><span class="check" alt="Check"></span> FLVL41</a></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- Trailer Floor Fabrication-->
        <tr class="tool top-border">
          <td class="CH7390"></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-EF</a></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"><a href="<%= products_tool_path(id: 6) %>"><span class="check" alt="Check"></span> HDVL71</a></td>
          <td class="FLVL41"><a href="<%= products_tool_path(id: 4) %>"><span class="check" alt="Check"></span> FLVL41</a></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>

        <!-- Utility Trailer Fabrication-->
        <tr class="tool top-border">
          <td class="CH7390"></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-EF</a></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"><a href="<%= products_tool_path(id: 6) %>"><span class="check" alt="Check"></span> HDVL71</a></td>
          <td class="FLVL41"><a href="<%= products_tool_path(id: 4) %>"><span class="check" alt="Check"></span> FLVL41</a></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>


        <!-- Mezzanine Flooring-->
        <tr class="tool top-border">
          <td class="CH7390"></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-EF</a></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"><a href="<%= products_tool_path(id: 6) %>"><span class="check" alt="Check"></span> HDVL71</a></td>
          <td class="FLVL41"><a href="<%= products_tool_path(id: 4) %>"><span class="check" alt="Check"></span> FLVL41</a></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>


        <!-- Bus Fabrication Vehicles-->
        <tr class="tool top-border">
          <td class="CH7390"></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-EF</a></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"><a href="<%= products_tool_path(id: 6) %>"><span class="check" alt="Check"></span> HDVL71</a></td>
          <td class="FLVL41"><a href="<%= products_tool_path(id: 4) %>"><span class="check" alt="Check"></span> FLVL41</a></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>


        <!-- Recreational Vehicles Fabrication -->
        <tr class="tool top-border">
          <td class="CH7390"></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-EF</a></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"><a href="<%= products_tool_path(id: 6) %>"><span class="check" alt="Check"></span> HDVL71</a></td>
          <td class="FLVL41"><a href="<%= products_tool_path(id: 4) %>"><span class="check" alt="Check"></span> FLVL41</a></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>


        <!-- Commercial Vehicles-->
        <tr class="tool top-border">
          <td class="CH7390"></td>
          <td class="CH7392SF"></td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE"></td>
          <td class="CH7241WU"></td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260"></td>
          <td class="CH7263"></td>
          <td class="CH7264"></td>
          <td class="CH7265"></td>
          <td class="VL62-ED"></td>
          <td class="VL62-SH"></td>
          <td class="VL62-EF"><a href="<%= products_tool_path(id: 9) %>"><span class="check" alt="Check"></span> VL62-EF</a></td>
          <td class="VL62-LP"></td>
          <td class="VL62-SP"></td>
          <td class="FDVL41"></td>
          <td class="HDVL71"><a href="<%= products_tool_path(id: 6) %>"><span class="check" alt="Check"></span> HDVL71</a></td>
          <td class="FLVL41"><a href="<%= products_tool_path(id: 4) %>"><span class="check" alt="Check"></span> FLVL41</a></td>
          <td class="LWVL32"></td>
          <td class="LHVL32"></td>
        </tr>
      </div>
    </table>
</div>
</section>

<script>
    $(function(){
    $("#top-scroll-container").scroll(function(){
        $("#table-container")
            .scrollLeft($("#top-scroll-container").scrollLeft());
    });
    $("#table-container").scroll(function(){
        $("#top-scroll-container")
            .scrollLeft($("#table-container").scrollLeft());
    });
  });

  $('.fixed').makeFixed();
</script>