<h2 class="heading">TRUCK BODY / TRAILER / BUS / RV</h2>

<section class="main-section group">
	<img class="main-pic" src="/applications/trailer/trailer-main.png" alt="trailer Muro tools application">
	<div class="description">
		<h3 class="catch-phrase">The proven solution for truck body, RV, trailer and bus manufacturing.
		Fasten your floors and side walls
		without a hitch.</h3>
			<ul class="highlights">
				<li>Our tools actually work and provide a consistent installation each and every time. </li>
				<li>Sold worldwide to major manufacturers.</li>
				<li>The savings are undeniable, Muro Auto-Feed systems have set a new standard.</li>
				<li>Forget about getting on your hands and knees, work while standing up.</li>
				<li>Purpose built tools for light or heavy duty applications.</li>
			</ul>
	</div>

	<img class="move-up" src="/applications/trailer/natm.png" alt="Muro is recognized by the National Association of Trailer Manufacturers.">

</section>

<section class="tools-for-job group">
	<h3>Tools For The Job</h3>
	<article>
		<a href="<%= products_tool_path(:id=>4) %>"><img src="/applications/trailer/power-driver.png" alt="Power Driver Auto Feed Screw Driver with Handle"></a>
		<div>
			<h4><a href="<%= products_tool_path(:id=>4) %>">FLVL41 - Power Driver</a></h4>
			<p>Purpose built tool for securing lighter gauge floors (wood to steel or aluminum) for OEM's. No one else compares.
<strong><a href="<%= products_tool_path(:id=>4) %>">Find out more.</a></strong></p>
		</div>
	</article>
	<article>
		<a href="<%= products_tool_path(:id=>6) %>"><img src="/applications/trailer/heavy-duty-driver.png" alt="Heavy Duty Driver Auto Feed Screw Driver with Handle"></a>
		<div>
			<h4><a href="<%= products_tool_path(:id=>6) %>">HDVL71 - Heavy Duty Driver
</a></h4>
			<p>Tailor made solution for securing heavy gauge floors (wood to steel or aluminum). The heaviest duty system on the market. 100 screws per coil. No one else compares. <strong><a href="<%= products_tool_path(:id=>6) %>"> Find out more.</a></strong></p>
		</div>
	</article>
	<article>
		<a href=""><img src="/applications/trailer/ch7260-wall-skinning.png" alt="CH7260 - Wall Skinning"></a>
		<div>
			<h4><a href="">CH7260 - Metal Pro
</a></h4>
			<p>This tool coupled with our wall skinning screw provides a unique solution for side wall fabrication.
<strong><a href=""> Find out more.</a></strong></p>
		</div>
	</article>

</section>



