		<section id="slider" style="margin-left: 5px; display: block;">
		    <div id="amazingslider-wrapper-1">
	        <div id="amazingslider-1">
	            <ul class="amazingslider-slides" style="display:none;">
	                <li><a href="<%= applications_decks_docks_marine_boardwalk_path %>"><img src="slider/slider1_deck.jpg" alt="Deck / Dock / Marine" /></a>
	                </li>
	                <li><a href="<%= applications_flooring_path %>"><img src="slider/slider2_floor.jpg" alt="Flooring" /></a>
	                </li>
	                <li><a href="<%= applications_drywall_path %>"><img src="slider/slider3_drywall.jpg" alt="Drywall" /></a>
	                </li>
	                <li><a href="<%= applications_roofing_path %>"><img src="slider/slider4_roofing.jpg" alt="Roofing" /></a>
	                </li>
	                <li><a href="<%= applications_truck_trailer_bus_rv_path %>"><img src="slider/slider5_trailer.jpg" alt="Trailer / RV / Bus" /></a>
	                </li>
	            </ul>
	            <ul class="amazingslider-thumbnails" style="display:none;">
	                <li style="padding:10px;"><img src="slider/slider1_deck-thumb.jpg" alt="Deck / Dock / Marine" /></li>
	                <li><img src="slider/slider2_floor-thumb.jpg" alt="Flooring" /></li>
	                <li><img src="slider/slider3_drywall-thumb.jpg" alt="Drywall" /></li>
	                <li><img src="slider/slider4_roofing-thumb.jpg" alt="Roofing" /></li>
	                <li><img src="slider/slider5_trailer-thumb.jpg" alt="Trailer / RV / Bus" /></li>
	            </ul>
	        </div>
	    </div>
	    </section>

	    <section id="links-row" class="group">

			<a href="<%= products_tools_path %>"><img class="tools no-margin-left" src="home/tools-link.jpg" alt="View Tools Page"></a>
			<a href="<%= products_screws_path %>"><img class="screws" src="home/screws-link.jpg" alt="View Screws"></a>
			<a href="<%= products_accessories_path %>"><img class="accessories" src="home/accessories-link.jpg" alt="View our accessories"></a>
			<a href="<%= products_specialty_path %>"><img class="specialty-products"src="home/specialty-products.jpg" alt=""></a>
			<a href="<%= applications_path %>"><img class="applications" src="home/applications-link-2.jpg" alt="View our tool applications."></a>
			<a href="<%= downloads_videos_path %>"><img class="videos" src="home/videos-link.jpg" alt="View our videos page"></a>

	    </section>

		<section id="news" class="group">
			<article class="no-margin-left">

				<a href="/downloads/videos#wtw"><img src="home/what-trades-want.jpg" alt="Review video done by What Trades Want"></a>

				<div class="written">
					<h3><a href="/downloads/videos#wtw">What Trades Want</a></h3>
					<p>
						The boys over at What Trades Want did a review of our collated auto-feed screw guns in action. They test out a couple of our tools to see how they perform in a variety of applications.
					</p>
				</div>
			</article>

			<article>
				<a href="<%= applications_more_applications_path %>"><img src="home/bunch-of-tools.jpg" alt="Muro has a wide variety of tools"></a>

				<div class="written">
					<h3><a href="<%= applications_more_applications_path %>">We Have a Tool For Almost Every Job</a></h3>
					<p>
						Whether it’s wood framing, fence building, crating or even furniture manufacturing, Muro provides the tools that can get the job done faster and more precise. <strong><%= link_to "Find out more", applications_more_applications_path %></strong> about getting the right tool for your next job.
					</p>
			</article>
		</section>