<h2 class="heading">Search</h2>

<%= form_tag search_path, id: "search_form", method: :get do  %>
  <%= text_field_tag :q, nil %>
<%= submit_tag "Search" %>
<% end %>

<% unless @query.blank? || @results.empty? %>
  <p>Your search query "<%= @query %>" returned the following results:</p>
<% end %>

<section id="search_results">
  <%= render 'search_results' %>
</section>