
<div id="toPopup">
  <div class="close"></div>

  <!-- VL62 Series of Tools -->
  <div id="ch7390_content" class="group manualDirect"> <!--your content start-->

    <div id="ch7390_manuals" class="group">
      <p>
      Select which language for the <strong>CH7390</strong> manual you would like to see:
      </p>

      <%= link_to "/customer_service/product_manuals/CH7390-EN.pdf", :target=>"_blank" do %>
        <div class="see_more_button popup three-per-line no-left">
          <h3>English</h3>
        </div>
      <% end %>

      <%= link_to "/customer_service/product_manuals/CH7390-FR.pdf", :target=>"_blank" do %>
        <div class="see_more_button popup three-per-line">
          <h3>French</h3>
        </div>
      <% end %>

      <%= link_to "/customer_service/product_manuals/CH7390-SP.pdf", :target=>"_blank" do %>
        <div class="see_more_button popup three-per-line">
          <h3>Spanish</h3>
        </div>
      <% end %>
    </div>

    <div class="move-down">
      <p>
      Select which language for the <strong>CH7392SF</strong> manual you would like to see:
      </p>

      <%= link_to "/customer_service/product_manuals/CH7392SF-EN.pdf", :target=>"_blank" do %>
        <div class="see_more_button popup three-per-line no-left">
          <h3>English</h3>
        </div>
      <% end %>

      <%= link_to "/customer_service/product_manuals/CH7392SF-FR.pdf", :target=>"_blank" do %>
        <div class="see_more_button popup three-per-line">
          <h3>French</h3>
        </div>
      <% end %>

      <%= link_to "/customer_service/product_manuals/CH7392SF-SP.pdf", :target=>"_blank" do %>
        <div class="see_more_button popup three-per-line">
          <h3>Spanish</h3>
        </div>
      <% end %>
    </div>

  </div>

  <!-- VL62 Series of Tools -->
  <div id="vl62_content" class="group manualDirect"> <!--your content start-->
    <p>
    Select which VL62 model manual you would like to see:
    </p>

    <%= link_to "/customer_service/product_manuals/LPVL62-Manual.pdf", :target=>"_blank" do %>
      <div class="see_more_button popup three-per-line no-left">
        <h3>LPVL62</h3>
      </div>
    <% end %>

    <%= link_to "/customer_service/product_manuals/EDVL62-Manual.pdf", :target=>"_blank" do %>
      <div class="see_more_button three-per-line popup">
        <h3>EDVL62</h3>
      </div>
    <% end %>

    <%= link_to "/customer_service/product_manuals/EFVL62-Manual.pdf", :target=>"_blank" do %>
      <div class="see_more_button three-per-line popup ">
        <h3>EFVL62</h3>
      </div>
    <% end %>

    <%= link_to "/customer_service/product_manuals/SPVL62-Manual.pdf", :target=>"_blank" do %>
      <div class="see_more_button three-per-line popup no-left">
        <h3>SPVL62</h3>
      </div>
    <% end %>

    <%= link_to "/customer_service/product_manuals/SHVL62-Manual.pdf", :target=>"_blank" do %>
      <div class="see_more_button three-per-line popup">
        <h3>SHVL62</h3>
      </div>
    <% end %>
  </div>

  <!-- Easy Driver -->
  <div id="ch7241_content" class="group manualDirect">
    <p>
    Select which model of the CH7200 Series you would like to see the manual for:
    </p>

  <%= link_to "/customer_service/product_manuals/CH7241-Manual.pdf", :target=>"_blank" do %>
      <div class="see_more_button popup no-left">
        <h3>CH7241</h3>
      </div>
    <% end %>

    <%= link_to "/customer_service/product_manuals/CH7241DE-Manual.pdf", :target=>"_blank" do %>
      <div class="see_more_button popup">
        <h3>CH7241DE</h3>
      </div>
    <% end %>

    <%= link_to "/customer_service/product_manuals/CH7216U-Manual.pdf", :target=>"_blank" do %>
      <div class="see_more_button popup">
        <h3>CH7216U</h3>
      </div>
    <% end %>

    <%= link_to "/customer_service/product_manuals/CH7219U-Manual.pdf", :target=>"_blank" do %>
      <div class="see_more_button popup">
        <h3>CH7219U</h3>
      </div>
    <% end %>
  </div>
</div>
