<h2 class="heading">PRODUCT REGISTRATION</h2>
  <p>Please complete the form to register your product and activate your product warranty.</p>

<%= form_tag url_for(:controller =>'customer_service', :action =>'register_product'), :method => 'post', :class =>"basic-form group",  "data-parsley-validate"=>"" do %>

  <div class="input">
    <%= label_tag :first_name, "First Name *" %>
    <%= text_field_tag :first_name, nil, :required=>"", "data-parsley-required-message"=>"Your first name is required to send a message."%>
  </div>

  <div class="input">
    <%= label_tag :initial, "Initial"%>
    <input type="text" name="initial">
  </div>

  <div class="input">
    <%= label_tag :last_name , "Last Name *" %>
    <%= text_field_tag :last_name, nil, :required=>"", "data-parsley-required-message"=>"Your last name is required to send a message."%>
  </div>

  <div class="input">
    <%= label_tag :email_address, "Email Address *" %>
     <%= email_field_tag :email, nil, :required=>"", "data-parsley-required-message"=>"Your email is required to send a message." %>
  </div>

  <div class="input">
    <%= label_tag :phone_number, "Phone Number" %>
    <%= text_field_tag :phone_number, nil, "data-parsley-type"=>"digits", "data-parsley-type-message"=>"Must be numeric digits only" %>
  </div>

  <div class="input">
    <%= label_tag :company, "Company *" %>
    <%= text_field_tag :company, nil, :required=>"", "data-parsley-required-message"=>"Your company is required to send a message." %>
  </div>

  <div class="input">
    <%= label_tag :address, "Address *" %>
    <%= text_field_tag :address, nil, :required=>"", "data-parsley-required-message"=>"Your address is required to send a message." %>
  </div>

  <div class="input">
   <%= label_tag :city, "City *" %>
     <%= text_field_tag :city, nil, :required=>"", "data-parsley-required-message"=>"Your city is required to send a message." %>
  </div>

  <div class="input">
    <%= label_tag :country, "Country *" %>
      <%= render 'countries' %>

  </div>

  <div class="input">
    <%= label_tag :province_or_state %>
     <%= text_field_tag :province_or_state, nil, :required=>"", "data-parsley-required-message"=>"Your province or state is required to send a message." %>
  </div>

  <div class="input">
    <%= label_tag :postal_or_zip, "Postal or Zip Code" %>
     <%= text_field_tag :postal_or_zip, nil, :required=>"", "data-parsley-required-message"=>"Your postal code or zip code is required to send a message." %>
  </div>

  <div class="input">
    <%= label_tag :place_of_purchase, "Place of Purchase" %>
    <%= text_field_tag :place_of_purchase %>
  </div>

  <div class="input">
    <%= label_tag :purchase_price, "Purchase Price" %>
    <%= text_field_tag :purchase_price %>
  </div>

  <div class="input">
    <%= label_tag :purchase_date, "Purchase Date *"%>
    <%= text_field_tag :purchase_date, nil, :required=>"", "data-parsley-required-message"=>"Your purchase date is required to send a message." %>
  </div>


  <div class="input">
      <%= label_tag :model, "Product Interest" %>
      <%= select_tag :model, options_for_select(@tools.collect{ |tool| [tool.product_code, tool.product_code] }), include_blank: "-- Please Select Tool --", :class=>"model-number", :id=>"product_interest" %>
      </select>
    </div>

  <div class="input">
    <%= label_tag :serial_number, "Serial Number *"%>
    <%= text_field_tag :serial_number, nil, :required=>"", "data-parsley-required-message"=>"Your serial number is required to send a message." %>
  </div>



  <div class="input comments">
    <%= label_tag :comments %>
    <!-- <textarea rows="8" cols="100"></textarea> -->
    <%= text_area_tag :comments, nil, rows: 8, cols: 25 %>
  </div>

  <div class="">
    <input class="submit" type="submit" value="Submit">
  </div>
</form>
<% end %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="http://programmingdrunk.com/current-projects/dropdownReplacement/jquery.scrollTo-1.4.2.js"></script>
<script src="http://programmingdrunk.com/current-projects/dropdownReplacement/0.5/jquery.dropdownReplacement-0.5.3.js"></script>
<script>
  $("#countries").dropdownReplacement({optionsDisplayNum: 10});
  $("#product_interest").dropdownReplacement({optionsDisplayNum: 10});
</script>