<h2 class="heading">PRODUCT MANUALS</h2>
  <p> Below are the product manuals for Muro North America's tools. Click to view each product manual in PDF format.</p>


<div class="selection tool">

  <a class="backdrop" href="/customer_service/product_manuals/CH7390-Manual.pdf" target="_blank"><img src="/products/tools/index/ultra-driver.png" alt="CH7390 - Ultra Driver"><img class="icon" src="/customer_service/pdf.png" alt="">
  </a>
  <%= link_to "CH7390 - Ultra Driver", "/customer_service/product_manuals/CH7390-Manual.pdf", :target=>"_blank" %>
</div>

<div class="selection tool">
  <a class="backdrop" href="/customer_service/product_manuals/CH7241-Manual.pdf" target="_blank"><img src="/products/tools/index/easy-driver.png" alt="CH7241 -  Easy Driver"><img class="icon" src="/customer_service/pdf.png" alt=""></a>
  <%= link_to "CH7241 -  Easy Driver", "/customer_service/product_manuals/CH7241-Manual.pdf", :target=>"_blank"%>
</div>

<div class="selection tool">
  <a class="backdrop" href="/customer_service/product_manuals/CH7260-Manual.pdf" target="_blank"><img src="/products/tools/index/metal-pro-tool.png" alt="CH7260 - Metal Pro Tool"><img class="icon" src="/customer_service/pdf.png" alt=""></a>
  <%= link_to "CH7260 - Metal Pro", "/customer_service/product_manuals/CH7260-Manual.pdf", :target=>"_blank" %>
</div>
<div class="selection tool">
  <a class="backdrop" href="/customer_service/product_manuals/FDVL41-FLVL41-Manual.pdf" target="_blank"><img src="/products/tools/index/power-driver.png" alt="FLVL41 - Power Driver"><img class="icon" src="/customer_service/pdf.png" alt=""></a>
  <%= link_to "FLVL41 - Power Driver", "/customer_service/product_manuals/FDVL41-FLVL41-Manual.pdf", :target=>"_blank" %>
</div>

<div class="selection tool">
  <a class="backdrop" href="/customer_service/product_manuals/FDVL41-FLVL41-Manual.pdf" target="_blank"><img src="/products/tools/index/speed-driver.png" alt="FDVL41 - Speed Driver"><img class="icon" src="/customer_service/pdf.png" alt=""></a>
  <%= link_to "FDVL41 - Speed Driver", "/customer_service/product_manuals/FDVL41-FLVL41-Manual.pdf", :target=>"_blank" %>
</div>

<div class="selection tool">
  <a class="backdrop" href="/customer_service/product_manuals/HDVL71-Manual.pdf" target="_blank"><img src="/products/tools/index/heavy-duty-driver.png" alt="HDVL71 - Heavy Duty Driver"><img class="icon" src="/customer_service/pdf.png" alt=""></a>
  <%= link_to "HDVL71 - Heavy Duty Driver",  "/customer_service/product_manuals/HDVL71-Manual.pdf", :target=>"_blank" %>
</div>

<div class="selection tool">
  <a class="backdrop" href="/customer_service/product_manuals/LWVL32-Manual.pdf" target="_blank"><img src="/products/tools/index/lwvl32.png" alt="LWVL32 - Coil Hex Auto Feed System"><img class="icon" src="/customer_service/pdf.png" alt=""></a>
  <%= link_to "LWVL32 - Coil Auto Feed System", "/customer_service/product_manuals/LWVL32-Manual.pdf", :target=>"_blank" %>
</div>

<div class="selection tool">
  <a class="backdrop" href="/customer_service/product_manuals/LHVL32-Manual.pdf" target="_blank"><img src="/products/tools/index/lhvl32.png" alt="LHVL32 - Coil Auto Feed"><img class="icon" src="/customer_service/pdf.png" alt=""></a>
  <%= link_to "LHVL32 - Coil Hex Auto Feed System", "/customer_service/product_manuals/LHVL32-Manual.pdf", :target=>"_blank" %>
</div>

<div class="selection tool">
  <a class="backdrop topopup" href="#"><img src="/products/tools/index/vl62.png" alt="VL62 - Series of Tools"><img class="icon" src="/customer_service/pdf.png" alt=""></a>
  <%= link_to "VL62 - Series of Tools", "#",:class=>"topopup" %>
</div>

<div id="toPopup">
  <div class="close"></div>

  <div id="popup_content group"> <!--your content start-->
    <p>
    Select which VL62 model manual you would like to see:
    </p>

    <%= link_to "/customer_service/product_manuals/LPVL62-Manual.pdf", :target=>"_blank" do %>
      <div class="see_more_button popup no-left">
        <h3>LPVL62</h3>
      </div>
    <% end %>

    <%= link_to "/customer_service/product_manuals/EDVL62-Manual.pdf", :target=>"_blank" do %>
      <div class="see_more_button popup">
        <h3>EDVL62</h3>
      </div>
    <% end %>

    <%= link_to "/customer_service/product_manuals/EFVL62-Manual.pdf", :target=>"_blank" do %>
      <div class="see_more_button popup">
        <h3>EFVL62</h3>
      </div>
    <% end %>

    <%= link_to "/customer_service/product_manuals/SPVL62-Manual.pdf", :target=>"_blank" do %>
      <div class="see_more_button popup">
        <h3>SPVL62</h3>
      </div>
    <% end %>
  </div> <!--your content end-->

</div> <!--toPopup end-->

<div class="loader"></div>
   <div id="backgroundPopup"></div>