

<h2 class="heading">CONTACT</h2>

<section id="contact-left">
  <div class="distributor group no-margin-left">
    <h3>Muro North America</h3>

    <div class="location">
      <p>
        Muro North America Inc.<br>
        7 Tilbury Court <br>
        Brampton, ON, Canada <br>
        L6T 3T4
      </p>


      <p>
        Tel: 905-451-7667<br>
        Fax: 905-451-7936<br>
        Toll Free: 1-800-665-MURO (6876)<br>
      </p>
    </div>
  </div>

  <div class="distributor group no-margin-left">
    <h3>Muro Corporation</h3>
    <div class="location">
      <p>
        1-4-10 Kaminoge, Setagaya-ku<br>
        Tokyo, Japan   158-0093<br>
        Tel: 81 (03) 3703-4122<br>
        Fax: 81 (03) 3704-2348
      </p>
    </div>
  </div>


  <%= form_tag url_for(:controller => 'contact', :action => 'user_subscribe'), :method => 'post', :class=>'subscribe-box', :id=>'subscribe', "data-parsley-validate"=>"" do %>
    <h3>Subscribe to Muro's Mailing List</h3>

    <div class="input">
      <%= text_field_tag :name, nil, placeholder: 'Name', :required=>"", "data-parsley-required-message"=>"Your name is required to send a message."%>
    </div>

    <div class="input">
      <%= email_field_tag :email, nil, placeholder: 'Email', :required=>"", "data-parsley-required-message"=>"Your email is required to be added to subscription list." %>
    </div>

    <div class="">
      <%= submit_tag "Subscribe", :class=>"submit" %>
    </div>
  <% end %>
</section>

<section id="contact-form" class="group">
  <h3>SEND US A MESSAGE</h3>

  <%= form_tag url_for(:controller =>'contact', :action =>'contact_form'), :method => 'post', :id=>"contact", :class =>"basic-form group",  "data-parsley-validate"=>"" do %>

    <div class="input">
      <%= label_tag :name, "Name *" %>
      <%= text_field_tag :name, nil, :required=>"", "data-parsley-required-message"=>"Your name is required to send a message."%>
    </div>

    <div class="input">
      <%= label_tag :email, 'Email Address *' %>
      <%= email_field_tag :email, nil, :required=>"", "data-parsley-required-message"=>"Your email is required to send a message." %>
    </div>

    <div class="input">
      <%= label_tag :company, "Company *" %>
      <%= text_field_tag :company, nil, :required=>"", "data-parsley-required-message"=>"Your company is required to send a message." %>
    </div>

    <div class="input">
      <%= label_tag :model, "Product Interest" %>
      <%= select_tag :model, options_for_select(@tools.collect{ |tool| [tool.product_code, tool.product_code] }), include_blank: "-- Please Select Tool --", :class=>"model-number", :id=>"product_interest" %>
      </select>
    </div>

    <div class="input">
      <%= label_tag :city, "City *" %>
      <%= text_field_tag :city, nil, :required=>"", "data-parsley-required-message"=>"Your City is required to send a message." %>
    </div>

    <div class="input">
      <%= label_tag :province_or_state, "Province / State *" %>
      <%= text_field_tag :province_or_state, nil, :required=>"", "data-parsley-required-message"=>"Your Province / State is required to send a message." %>
    </div>

    <div class="input">
      <%= label_tag :country, "Country *" %>
      <%= render 'customer_service/countries' %>
    </div>

    <div class="input">
      <%= label_tag :phone_number %>
      <%= text_field_tag :phone_number, nil, "data-parsley-type"=>"digits", "data-parsley-type-message"=>"Must be numeric digits only" %>
    </div>

    <div class="input comments">
      <%= label_tag :comments %>
      <!-- <textarea rows="8" cols="100"></textarea> -->
      <%= text_area_tag :comments, nil, rows: 8, cols: 25 %>
    </div>

    <div class="">
      <input class="submit" type="submit" value="Submit">
    </div>
  <% end %>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script src="http://programmingdrunk.com/current-projects/dropdownReplacement/jquery.scrollTo-1.4.2.js"></script>
<script src="http://programmingdrunk.com/current-projects/dropdownReplacement/0.5/jquery.dropdownReplacement-0.5.3.js"></script>
<script>
  $("#countries").dropdownReplacement({optionsDisplayNum: 10});
  $("#product_interest").dropdownReplacement({optionsDisplayNum: 10});
</script>


