<section id="accessories-chart" class="big_table" style="clear:both;">

  <h2><strong>Accessories Chart</strong></h2>
  <p>Scroll left to right to see all tools and the accessory associated with each one.</p>
  <table id="fixed-column";>
    <thead>
      <tr>
        <th class="black grey">Tool</th>
      </tr>

      <tr>
        <td class="light-grey bold">Screw Length Range (inches)</td>
      </tr>

      <tr>
        <td class="grey bold">Screw Gauge</td>
      </tr>

      <tr>
        <td class="light-grey bold">RPM</td>
      </tr>
    </thead>

<!--       <tr class="top-border">
        <td class="grey bold">Application</td>
      </tr> -->

      <tr class="application application top-border">
        <td class="tool">Square #1 Bit</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Square #2 Bit</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Square #3 Bit</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Phillips #2 Bit</td>
      </tr>

       <tr class="application top-border">
        <td class="tool">Torx - 20 Bit</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Torx - 25 Bit</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Torx - 27 Bit</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Torx - 30 Bit</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">1/4" Hex Drive</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">5/16" Hex Drive</td>
      </tr>

       <tr class="application top-border">
        <td class="tool">Extension Handle</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Screw Pouch</td>
      </tr>

      <tr class="application top-border">
        <td class="tool">Carry Bag</td>
      </tr>
  </table>

  <div id="table-container">
    <table id="scroll">
      <div>
        <tr class="top-header">
          <th id="CH7390" class="CH7390"><%= link_to "CH7390", products_tool_path(:id=>1) %></th>
          <th class="CH7392SF"><%= link_to "CH7392SF", products_tool_path(:id=>1) %></th>
          <th class="CH7390SW"><%= link_to "CH7390SW", products_tool_path(:id=>1) %></th>
          <th class="CH7241DE"><%= link_to "CH7241DE", products_tool_path(:id=>2) %></th>
          <th class="CH7241WU"><%= link_to "CH7241WU", products_tool_path(:id=>2) %></th>
          <th class="CH7219U-VG-W"><%= link_to "CH7219U-VG-W", "#" %></th>
          <th class="CH7216U"><%= link_to "CH7216U", "#" %></th>
          <th class="CH7260"><%= link_to "CH7260", products_tool_path(:id=>3) %></th>
          <th class="CH7263"><%= link_to "CH7263", products_tool_path(:id=>3) %></th>
          <th class="CH7264"><%= link_to "CH7264", products_tool_path(:id=>3) %></th>
          <th class="CH7265"><%= link_to "CH7265", products_tool_path(:id=>3) %></th>
          <th class="VL62-ED"><%= link_to "VL62-ED", products_tool_path(:id=>9) %></th>
          <th id="VL62-SH" class="VL62-SH"><%= link_to "VL62-SH", products_tool_path(:id=>9) %></th>
          <th class="VL62-EF"><%= link_to "VL62-EF", products_tool_path(:id=>9) %></th>
          <th class="VL62-LP"><%= link_to "VL62-LP", products_tool_path(:id=>9) %></th>
          <th class="VL62-SP"><%= link_to "VL62-SP", products_tool_path(:id=>9) %></th>
          <th class="FDVL41"><%= link_to "FDVL41", products_tool_path(:id=>5) %></th>
          <th class="HDVL71"><%= link_to "HDVL71", products_tool_path(:id=>6) %></th>
          <th class="FLVL41"><%= link_to "FLVL41", products_tool_path(:id=>4) %></th>
          <th class="LWVL32"><%= link_to "LWVL32", products_tool_path(:id=>7) %></th>
          <th class="LHVL32"><%= link_to "LHVL32", products_tool_path(:id=>9) %></th>
        </tr>

        <tr class="top-header">
          <td class="CH7390">1-1/2 to 3</td>
          <td class="CH7392SF">1 - 2</td>
          <td class="CH7390SW">1-1/2 to 2</td>
          <td class="CH7241DE">3/4 to 1-5/8</td>
          <td class="CH7241WU">3/4 to 1-5/8</td>
          <td class="CH7219U-VG-W">3/4</td>
          <td class="CH7216U">5/8</td>
          <td class="CH7260">1-1/4 to 1-1/2</td>
          <td class="CH7263">3/4 to 1</td>
          <td class="CH7264">3/4 to 1 </td>
          <td class="CH7265">1-1/4 to 1-1/2</td>
          <td class="VL62-ED">1 to 3</td>
          <td class="VL62-SH">7/8 to 1-3/4</td>
          <td class="VL62-EF">1 to 3</td>
          <td class="VL62-LP">1-5/8 to 2-1/2</td>
          <td class="VL62-SP">3/4 to 1-3/4</td>
          <td class="FDVL41">1 to 3</td>
          <td class="HDVL71">1 to 4</td>
          <td class="FLVL41">1 to 3</td>
          <td class="LWVL32">3/4 to 1-3/4 </td>
          <td class="LHVL32">3/4 to 1-3/5</td>
        </tr>

        <tr class="top-header">
          <td class="CH7390">#6 to #10</td>
          <td class="CH7392SF">#6 to #8</td>
          <td class="CH7390SW">#6 to #8</td>
          <td class="CH7241DE">#6 to #8</td>
          <td class="CH7241WU">#6 to #8</td>
          <td class="CH7219U-VG-W">#8 to #10</td>
          <td class="CH7216U">#8</td>
          <td class="CH7260">#10 to #12</td>
          <td class="CH7263">#10 to #12</td>
          <td class="CH7264">#10 to #12</td>
          <td class="CH7265">#10 to #12</td>
          <td class="VL62-ED">#6 to #10</td>
          <td class="VL62-SH">#6 to #10</td>
          <td class="VL62-EF">#6 to #10</td>
          <td class="VL62-LP">#6 to #10</td>
          <td class="VL62-SP">#6 to #10</td>
          <td class="FDVL41">#6 to #10</td>
          <td class="HDVL71">#12 to #14</td>
          <td class="FLVL41">#12 to #14</td>
          <td class="LWVL32">#6 to #8</td>
          <td class="LHVL32">#8 to #10</td>
        </tr>

        <tr class="top-header">
          <td class="CH7390">2500</td>
          <td class="CH7392SF">4000</td>
          <td class="CH7390SW">2500</td>
          <td class="CH7241DE">4000</td>
          <td class="CH7241WU">2500</td>
          <td class="CH7219U-VG-W">2500</td>
          <td class="CH7216U">2500</td>
          <td class="CH7260">2500</td>
          <td class="CH7263">2500</td>
          <td class="CH7264">2500</td>
          <td class="CH7265">2500</td>
          <td class="VL62-ED">1700</td>
          <td class="VL62-SH">1700</td>
          <td class="VL62-EF">1700</td>
          <td class="VL62-LP">2800</td>
          <td class="VL62-SP">2800</td>
          <td class="FDVL41">2800</td>
          <td class="HDVL71">900 to 2300</td>
          <td class="FLVL41">2400</td>
          <td class="LWVL32">2700 / 4500</td>
          <td class="LHVL32">2700 / 4500</td>
        </tr>

      <div id="tools">
      <!--  Square #1 Bit -->
        <tr class="tool top-border">
          <td class="CH7390">SQR18118</td>
          <td class="CH7392SF">SQR18118</td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE">n/a</td>
          <td class="CH7241WU">n/a</td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260">n/a</td>
          <td class="CH7263">n/a</td>
          <td class="CH7264">n/a</td>
          <td class="CH7265">n/a</td>
          <td class="VL62-ED">SQR18118</td>
          <td class="VL62-SH">n/a</td>
          <td class="VL62-EF">SQR18118</td>
          <td class="VL62-LP">SQR17114</td>
          <td class="VL62-SP">SQR17114</td>
          <td class="FDVL41">SQR17114</td>
          <td class="HDVL71">n/a</td>
          <td class="FLVL41">n/a</td>
          <td class="LWVL32">n/a</td>
          <td class="LHVL32">n/a</td>
        </tr>

        <!-- Square #2 Bit -->
        <tr class="tool top-border">
          <td class="CH7390">SQR28118</td>
          <td class="CH7392SF">SQR28118</td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE">n/a</td>
          <td class="CH7241WU">SQR28118</td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260">SQR26000</td>
          <td class="CH7263">SQR26000</td>
          <td class="CH7264">SQR26000</td>
          <td class="CH7265">SQR26000</td>
          <td class="VL62-ED">SQR28118</td>
          <td class="VL62-SH">SQR26000</td>
          <td class="VL62-EF">SQR27114</td>
          <td class="VL62-LP">SQR27114</td>
          <td class="VL62-SP">SQR26000</td>
          <td class="FDVL41">SQR27114</td>
          <td class="HDVL71">SQR28118</td>
          <td class="FLVL41">SQR28118</td>
          <td class="LWVL32">SQR26000</td>
          <td class="LHVL32">SQR26000</td>
        </tr>

        <!-- Square #3 Bit -->
        <tr class="tool top-border">
          <td class="CH7390">n/a</td>
          <td class="CH7392SF">n/a</td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE">n/a</td>
          <td class="CH7241WU">n/a</td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260">n/a</td>
          <td class="CH7263">n/a</td>
          <td class="CH7264">n/a</td>
          <td class="CH7265">n/a</td>
          <td class="VL62-ED">n/a</td>
          <td class="VL62-SH">n/a</td>
          <td class="VL62-EF">SQR38000</td>
          <td class="VL62-LP">n/a</td>
          <td class="VL62-SP">n/a</td>
          <td class="FDVL41">n/a</td>
          <td class="HDVL71">SQR38000</td>
          <td class="FLVL41">SQR38000</td>
          <td class="LWVL32">n/a</td>
          <td class="LHVL32">n/a</td>
        </tr>

        <!--  Phillips #2 Bit-->
        <tr class="tool top-border">
          <td class="CH7390">PHL28118</td>
          <td class="CH7392SF">PHL28118</td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE">PHL25118</td>
          <td class="CH7241WU">PHL25118</td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260">PHL26000</td>
          <td class="CH7263">PHL26000</td>
          <td class="CH7264">PHL26000</td>
          <td class="CH7265">PHL26000</td>
          <td class="VL62-ED">PHL28118</td>
          <td class="VL62-SH">PHL26000</td>
          <td class="VL62-EF">PHL28118</td>
          <td class="VL62-LP">PHL27114</td>
          <td class="VL62-SP">PHL26000</td>
          <td class="FDVL41">PHL27114</td>
          <td class="HDVL71">PHL28118</td>
          <td class="FLVL41">PHL28118</td>
          <td class="LWVL32">PHL26000</td>
          <td class="LHVL32">PHL26000</td>
        </tr>

        <!-- Torx - 20 Bit -->
        <tr class="tool top-border">
          <td class="CH7390">TX208118</td>
          <td class="CH7392SF">n/a</td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE">n/a</td>
          <td class="CH7241WU">n/a</td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260">TX202600</td>
          <td class="CH7263">TX202600</td>
          <td class="CH7264">TX202600</td>
          <td class="CH7265">TX202600</td>
          <td class="VL62-ED">TX202600</td>
          <td class="VL62-SH">TX202600</td>
          <td class="VL62-EF">TX208118</td>
          <td class="VL62-LP">TX207114</td>
          <td class="VL62-SP">TX202600</td>
          <td class="FDVL41">TX207114</td>
          <td class="HDVL71">TX208118</td>
          <td class="FLVL41">TX208118</td>
          <td class="LWVL32">TX202600</td>
          <td class="LHVL32">TX202600</td>
        </tr>


        <!-- Torx - 25 Bit -->
        <tr class="tool top-border">
          <td class="CH7390">TX258118</td>
          <td class="CH7392SF">n/a</td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE">n/a</td>
          <td class="CH7241WU">n/a</td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260">n/a</td>
          <td class="CH7263">n/a</td>
          <td class="CH7264">n/a</td>
          <td class="CH7265">n/a</td>
          <td class="VL62-ED">TX258118</td>
          <td class="VL62-SH">n/a</td>
          <td class="VL62-EF">TX258118</td>
          <td class="VL62-LP">TX257114</td>
          <td class="VL62-SP">n/a</td>
          <td class="FDVL41">TX257114</td>
          <td class="HDVL71">TX258118</td>
          <td class="FLVL41">TX258118</td>
          <td class="LWVL32">n/a</td>
          <td class="LHVL32">n/a</td>
        </tr>

        <!-- Torx - 27 Bit -->
        <tr class="tool top-border">
          <td class="CH7390">n/a</td>
          <td class="CH7392SF">n/a</td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE">n/a</td>
          <td class="CH7241WU">n/a</td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260">n/a</td>
          <td class="CH7263">n/a</td>
          <td class="CH7264">n/a</td>
          <td class="CH7265">n/a</td>
          <td class="VL62-ED">TX278118</td>
          <td class="VL62-SH">n/a</td>
          <td class="VL62-EF">TX278118</td>
          <td class="VL62-LP">n/a</td>
          <td class="VL62-SP">n/a</td>
          <td class="FDVL41">n/a</td>
          <td class="HDVL71">TX278118</td>
          <td class="FLVL41">TX278118</td>
          <td class="LWVL32">n/a</td>
          <td class="LHVL32">n/a</td>
        </tr>

        <!-- Torx - 30 Bit -->
        <tr class="tool top-border">
          <td class="CH7390">n/a</td>
          <td class="CH7392SF">n/a</td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE">n/a</td>
          <td class="CH7241WU">n/a</td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260">n/a</td>
          <td class="CH7263">n/a</td>
          <td class="CH7264">n/a</td>
          <td class="CH7265">n/a</td>
          <td class="VL62-ED">TX308118</td>
          <td class="VL62-SH">n/a</td>
          <td class="VL62-EF">TX308118</td>
          <td class="VL62-LP">n/a</td>
          <td class="VL62-SP">n/a</td>
          <td class="FDVL41">n/a</td>
          <td class="HDVL71">TX308118</td>
          <td class="FLVL41">n/a</td>
          <td class="LWVL32">n/a</td>
          <td class="LHVL32">n/a</td>
        </tr>

        <!-- 1/4" Hex Drive -->
        <tr class="tool top-border">
          <td class="CH7390">n/a</td>
          <td class="CH7392SF">n/a</td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE">n/a</td>
          <td class="CH7241WU">n/a</td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260">n/a</td>
          <td class="CH7263">n/a</td>
          <td class="CH7264">n/a</td>
          <td class="CH7265">n/a</td>
          <td class="VL62-ED">n/a</td>
          <td class="VL62-SH">HEX46000</td>
          <td class="VL62-EF">n/a</td>
          <td class="VL62-LP">n/a</td>
          <td class="VL62-SP">n/a</td>
          <td class="FDVL41">n/a</td>
          <td class="HDVL71">n/a</td>
          <td class="FLVL41">n/a</td>
          <td class="LWVL32">n/a</td>
          <td class="LHVL32">HEX46000</td>
        </tr>

        <!-- 5/16" Hex Drive -->
        <tr class="tool top-border">
          <td class="CH7390">n/a</td>
          <td class="CH7392SF">n/a</td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE">n/a</td>
          <td class="CH7241WU">n/a</td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260">HEX56340</td>
          <td class="CH7263">HEX56340</td>
          <td class="CH7264">HEX56340</td>
          <td class="CH7265">HEX56340</td>
          <td class="VL62-ED">n/a</td>
          <td class="VL62-SH">HEX56000</td>
          <td class="VL62-EF">n/a</td>
          <td class="VL62-LP">n/a</td>
          <td class="VL62-SP">n/a</td>
          <td class="FDVL41">n/a</td>
          <td class="HDVL71">n/a</td>
          <td class="FLVL41">n/a</td>
          <td class="LWVL32">n/a</td>
          <td class="LHVL32">HEX56000</td>
        </tr>

        <!-- Extension Handle -->
        <tr class="tool top-border">
          <td class="CH7390">VISRH909</td>
          <td class="CH7392SF">VISRH909</td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE">VISRH909</td>
          <td class="CH7241WU">VISRH909</td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260">VISRH912</td>
          <td class="CH7263">VISRH912</td>
          <td class="CH7264">VISRH912</td>
          <td class="CH7265">VISRH912</td>
          <td class="VL62-ED">VISRH905</td>
          <td class="VL62-SH">VISRH905</td>
          <td class="VL62-EF">VISRH905</td>
          <td class="VL62-LP">VISRH905</td>
          <td class="VL62-SP">VISRH905</td>
          <td class="FDVL41">VISRH902</td>
          <td class="HDVL71">VISRH910</td>
          <td class="FLVL41">VISRH902</td>
          <td class="LWVL32">n/a</td>
          <td class="LHVL32">n/a</td>
        </tr>

        <!-- Screw Pouch -->
        <tr class="tool top-border">
          <td class="CH7390">VISPU705</td>
          <td class="CH7392SF">VISPU705</td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE">VISPU705</td>
          <td class="CH7241WU">VISPU705</td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260">VISPU705</td>
          <td class="CH7263">VISPU705</td>
          <td class="CH7264">VISPU705</td>
          <td class="CH7265">VISPU705</td>
          <td class="VL62-ED">n/a</td>
          <td class="VL62-SH">n/a</td>
          <td class="VL62-EF">n/a</td>
          <td class="VL62-LP">n/a</td>
          <td class="VL62-SP">n/a</td>
          <td class="FDVL41">n/a</td>
          <td class="HDVL71">n/a</td>
          <td class="FLVL41">n/a</td>
          <td class="LWVL32">n/a</td>
          <td class="LHVL32">n/a</td>
        </tr>

        <!--  Carry Bag -->
        <tr class="tool top-border">
          <td class="CH7390">VISCB701</td>
          <td class="CH7392SF">VISCB701</td>
          <td class="CH7390SW"></td>
          <td class="CH7241DE">VISCB701</td>
          <td class="CH7241WU">VISCB701</td>
          <td class="CH7219U-VG-W"></td>
          <td class="CH7216U"></td>
          <td class="CH7260">VISCB701</td>
          <td class="CH7263">VISCB701</td>
          <td class="CH7264">VISCB701</td>
          <td class="CH7265">VISCB701</td>
          <td class="VL62-ED">n/a</td>
          <td class="VL62-SH">n/a</td>
          <td class="VL62-EF">n/a</td>
          <td class="VL62-LP">n/a</td>
          <td class="VL62-SP">n/an/a</td>
          <td class="FDVL41">n/a</td>
          <td class="HDVL71">n/a</td>
          <td class="FLVL41">n/a</td>
          <td class="LWVL32">n/a</td>
          <td class="LHVL32">n/a</td>
        </tr>
      </div>
    </table>
</div>
</section>