<h2 class="heading">Accessories</h2>
  <p>Below are the accessories made exclusively for Muro North America Tools. To view a full list of tools you can use
with each accessory. Click the button below to view our <a href="#accessories-chart">Accessories Chart</a></p>

<%= link_to '#accessories-chart' do %>
  <div class="see_more_button go-to">
    <h3>Accessories Chart</h3>
  </div>
<% end %>

<div class="accessory" id="screw_pouch">
  <h3>Screw Pouch</h3>
  <h4>Description</h4>
  <p>Complete with belt clip, keeps a bundle of screw
strips close at hand for quick loading.</p>
  <div class="display">
    <img src="/products/accessories/screw-pouch.png" alt="Screw Pouch">

    <h5>VISPU705</h5>
    <p>For the CH7390, CH7241
&amp; CH7260 series of tools</p>
  </div>
</div>

<div class="accessory carry-bag" id="carry_bag">
  <h3>Carry Bag</h3>

  <h4>Description</h4>
  <p>Soft sided, zippered bag for convenient organization and
transportation. Bag is designed to accommodate
tool &amp; handle assembly.</p>
  <div class="display group">
    <img  src="/products/accessories/carry-bag.png" alt="Screw Pouch">

    <h5>VISCB701</h5>
    <p>For the CH7390, CH7241, &amp; CH7260
series of tools.</p>
  </div>
</div>

<div class="accessory extension" id="extension_handle">
  <h3>Extension Handles</h3>

  <h4>Description</h4>
  <p>Telescopic T-handle provides the best fit, balance and height adjustment for the user.</p>

  <div class="display group">
    <img  src="/products/accessories/visrh909-handle.png" alt="VISRH909 Extension Handle">
    <h5>VISRH909</h5>
    <p>For the CH7241 &amp; CH7390</p>
    <h5>VISRH912</h5>
    <p>For the CH7260 series</p>
  </div>

  <div class="display group">
    <img  src="/products/accessories/visrh910-handle.png" alt="VISRH910 Extension Handle">
    <h5>VISRH910</h5>
    <p>For the HDVL71 tool.</p>
    <h5>VISRH902</h5>
    <p>For the FDVL41, FLVL41 coil tools.</p>
  </div>

  <div class="display group">
    <img  src="/products/accessories/visrh905-handle.png" alt="VISRH905 Extension Handle">
    <h5>VISRH905</h5>
    <p>Serves the VL62 family of coil tools.</p>
  </div>
</div>

<section id="driver-bits">
  <h2><strong>Driver Bits</strong> - Double Ended and Last Twice As Long</h2>

  <h4>Select the arrow beside each tool to reveal the driver bits associated with it.</h4>

  <% @tools.each do |tool| %>
    <div class="driver-bit">
      <div class="heading group">
        <h3>Tool: <a href=""><%= tool.product_code %> <%= tool.name %></a></h3>
        <img class="open-close" id="drop-down-<%= tool.product_code %>" src="/products/accessories/triangle.png" alt="">
      </div>

      <div class="<%= tool.product_code %>">
        <%= raw tool.driver_bits %>
      </div>
    </div>


    <script>
      $('.<%= tool.product_code %>').hide();
      $( "#drop-down-<%= tool.product_code %>").click(function(){
        $('#drop-down-<%= tool.product_code %>').toggleClass('rotate');

        $('.<%= tool.product_code %>').fadeToggle();
    });
    </script>
  <% end %>
</section>

 <input type="button" id="left-button" class="scroll scroll-left" value="< Scroll Left">
  <input type="button" id="right-button" class="scroll scroll-right" value="Scroll Right >">

<%= render 'accessories_table' %>

  <a href="#screw_pouch" class="go-top">Back To Top</a>

<script>
// The JavaScript to add/remove CSS classes to the back to top button when scroll down/up.
  $(window).scroll(function(event){
  var scroll = $(window).scrollTop();
    if (scroll >= 100) {
      $(".go-top").addClass("show");
    } else {
      $(".go-top").removeClass("show");
    }
});

  $('.go-top').click(function(){
  $('html, body').animate({
    scrollTop: $( $(this).attr('href') ).offset().top
  }, 1000);
});

  $(window).scroll(function(event){
  var scroll = $(window).scrollTop();
      if (scroll >= 2000) {
        $(".scroll").addClass("show");
      } else {
        $(".scroll").removeClass("show");
      }
    });


     $(function () {
        var scrollable = $('#table-container');
        console.log(scrollable);

        $('#right-button').mousedown(function () {
           var leftPos = scrollable.scrollLeft();
           scrollable.animate({ scrollLeft: leftPos + 593 }, 800);
        });


        $('#left-button').mousedown(function () {
           var leftPos = scrollable.scrollLeft();
           scrollable.animate({ scrollLeft: leftPos - 593 }, 800);
        });
     });


</script>
